@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

/* .....header area styling..... */
#wrapper {
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    left: 5rem;
    min-height: 7rem;
    width: 90%;
    background: rgba(0, 0, 0, 0.1);
    margin: .5rem auto;
    padding: .1rem;
    border-radius: .3rem;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#brand-logo {
    display: flex;
    flex-flow: row wrap;
    flex: 1 40%;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 2rem 2rem;
}

#header-img {
    border: .2rem solid black;
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
}

#brand-name {
    font-size: 2rem;
    font-style: italic;
}

#nav-bar {
    display: flex;
    flex-flow: row wrap;
    flex: 1 40%;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 2rem 2rem;
}

.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: rgb(20, 95, 110);
}

.nav-link:hover,
.nav-link:focus {
    background: orange;
    font-weight: 700;
    border-bottom: 2px solid black;
    border-radius: 10%;
    letter-spacing: 0.1rem;
}

#contact {
    position: relative;
    top: 8rem;
    width: 60%;
    margin: 4.5rem auto;
    padding: 1rem 0;
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
}

#contact h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

#form {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: .5rem auto;
}

#name {
    height: 1.7rem;
    margin-bottom: .5rem;
    padding: .1rem;
    border-radius: .2rem;
}

#email {
    height: 1.7rem;
    margin-bottom: .5rem;
    padding: .1rem;
    border-radius: .2rem;
}

#submit {
    height: 1.7rem;
    width: 70%;
    margin: .2rem auto;
    padding: .1rem;
    border-radius: .4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#container {
    width: 90%;
    margin: 1rem auto;
    position: relative;
    top: 5rem;
}

#first {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-flow: column wrap;
}

.grid {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    display: flex;
}

.icon {
    flex: 1 10%;
    align-self: center;
}

.desc {
    flex: 90%;
    line-height: 1.5;
}

.desc h3 {
    text-decoration: underline;
}

#second {
    border: 3px solid black;
    width: 50%;
    margin: 4rem auto;
}

#video {
    width: 100%;
}

#third {
    border-radius: 1%;
    color: white;
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1rem;
}

#sports {
    flex: 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 0.3rem 0;
    background: rgba(0, 0, 0, 0.7);
}

#sedan {
    flex: 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 0.3rem 0;
    background: rgba(0, 0, 0, 0.7);
}

#suv {
    flex: 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 0.3rem 0;
    background: rgba(0, 0, 0, 0.7);
}

#trucks {
    flex: 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 0.5rem 0;
    background: rgba(0, 0, 0, 0.7);
}

#third .level {
    border-bottom: 3px solid white;
    font-size: 1.7rem;
    font-weight: 900;
    margin: 0 auto 0.5rem;
    padding: 0.3rem;
    line-height: 1.5;
    letter-spacing: 0.3rem;
}

#third h3 {
    margin: 0.9rem auto;
    padding: 0.5rem;
    font-style: oblique;
    color: rgb(255, 146, 13);
}

#third p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.6rem auto;
}

#third ul {
    list-style: square;
    margin: 0 0 0.9rem;
}

#third ul li {
    padding: 0.5rem 0;
    font-style: italic;
}

#third .btn {
    border: 1px solid black;
    border-radius: 9%;
    font-size: 1rem;
    font-weight: 600;
    width: 50%;
    margin: 0.3rem auto;
    padding: 0.2rem 0;
}

.btn:hover,
.btn:focus {
    background: orange;
    letter-spacing: 0.1rem;
}

#footer {
    position: relative;
    top: 5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    background: rgb(255, 176, 133);
}

#About {
    width: 90%;
    margin: 0.2rem auto 0.8rem;
    padding: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#left {
    list-style: none;
    flex: 2 50%;
    margin-right: 0.7rem;
}

#left li {
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
